body {
    font-family: monospace;
    text-align: center;
    background-image: url(image.png);
    background-size: cover;
    background-color: skyblue;
}

h1 {
    padding-top: 10px;
    font-size: 4em;
    color: gold;
}

#winner {
    font-size: 2em;
    color: gold;
    justify-content: center;
}